<!-- Mobile vers-->

<div class="p-4 grid grid-cols-1 place-items-center lg:hidden">
  <h1 class="titreP mt-16">Download the extension</h1>
  <p class="text-center text-[#b1b2b8] font-[500] mb-10">
    We’ve got more browsers in the pipeline. <br> Please do let us know if you’ve got
    a <br> favourite you’d like us to prioritize.
  </p>
</div>
<!-- end Mobile vers-->

<!--desktop vers-->
<div class="hidden lg:p-4 lg:grid lg:grid-cols-1 lg:place-items-center">
  <div class="lg:p-4 lg:grid lg:grid-cols-1 lg:place-items-center">
    <h1 class="font-bold text-3xl xl:text-6xl text-[#252642] mb-6 mt-20" >Download the extension</h1>
    <p class="text-center text-xl xl:text-3xl text-[#b1b2b8] font-[500] mb-10">
      We’ve got more browsers in the pipeline.  Please do let us know if <br> you’ve got
      a favourite you’d like us to prioritize.
    </p>
  </div>
</div>

<!--end desktop vers-->
<div class="lg:grid lg:grid-cols-3 lg:place-items-center">

<!-- google card-->
<div class="bg-[#fff] shadow-2xl grid grid-cols-1 place-items-center gap-8 mx-12 mb-8 rounded-xl p-8 overflow-hidden">
  <img src="../../assets/images/logo-chrome.svg" alt="">
  <div class="flex flex-col gap-0">
    <h1 class="titreP ">Add to Chrome</h1>
    <p class="text-center text-[#b1b2b8] font-[600] -mt-4">Minimum version 62</p>
  </div>
  <img class="w-full scale-125" src="../../assets/images/bg-dots.svg" alt="">
  <button class="bg-blue-600 rounded-lg text-white font-semibold p-4 whitespace-nowrap w-full hover:shadow-lg transition-all">Add & Install Extension</button>
</div>
<!-- end google card-->

<!-- Firefox card-->
<div class="bg-[#fff] shadow-2xl grid grid-cols-1 place-items-center gap-8 mx-12 mb-8 rounded-xl p-8 overflow-hidden lg:mt-8">
  <img src="../../assets/images/logo-firefox.svg" alt="">
  <div class="flex flex-col gap-0">
    <h1 class="titreP ">Add to Firefox</h1>
    <p class="text-center text-[#b1b2b8] font-[600] -mt-4">Minimum version 55</p>
  </div>
  <img class="w-full scale-125" src="../../assets/images/bg-dots.svg" alt="">
  <button class="bg-blue-600 rounded-lg text-white font-semibold p-4 whitespace-nowrap w-full hover:shadow-lg transition-all">Add & Install Extension</button>
</div>
<!-- end Firefox card-->

<!-- Opera card-->
<div class="bg-[#fff] shadow-2xl grid grid-cols-1 place-items-center gap-8 mx-12 mb-8 rounded-xl p-8 overflow-hidden lg:mt-16">
  <img src="../../assets/images/logo-opera.svg" alt="">
  <div class="flex flex-col gap-0">
    <h1 class="titreP ">Add to Opera</h1>
    <p class="text-center text-[#b1b2b8] font-[600] -mt-4">Minimum version</p>
  </div>
  <img class="w-full scale-125" src="../../assets/images/bg-dots.svg" alt="">
  <button class="bg-blue-600 rounded-lg text-white font-semibold p-4 whitespace-nowrap w-full hover:shadow-lg transition-all">Add & Install Extension</button>
</div>
<!-- end Opera card-->

</div>

